header{
	display:inline;
	height:60px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
.mainbar{

	background:linear-gradient(to top, #79fc80, #3ef748, #79fc80);
}

.image1 {
	float: left;
	border:2px solid #66fcf1;
	width:150px;
	height: 100px;
	padding-top: 0px;
	margin-right: 30px;
	margin-top:15px;
	margin-bottom: 50px;
	margin-left: 0px;
	transition-property: transform;
	transition-duration: 0.2s;
}
.image1:hover{
	box-shadow: 0px 0px 10px #999;
	transform:scale(1.04);
}
.navi{
	background:linear-gradient(to top, #79fc80, #3ef748, #79fc80);
}
body{
	display:grid;
	align-items: center;
	background-color: #1f2833;

}
.main{	
	width: 1100px;
	height:1050px;
	background-image:radial-gradient(#45a29e 5%, #1f2833 30%);
	margin-left: auto;
	margin-right: auto;
	border:thick;
}
footer{
	background: linear-gradient(to right, #66fcf1, #bcf5f1, #66fcf1);
	display: inline-block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	align-self: center;
	margin-left: 230px;
	margin-top: 10px;
	box-shadow: 0px 0px 5px #66fcf1;

}

nav ul li{
	display: inline-block;
	list-style-type: none;
	user-select:none;
	height:auto;
	background: linear-gradient(to top right, #66fcf1 50%, #bef7f3);
	color:#111;
	margin-left:10px;
	margin-top:20px;
	padding:2px;
	position: inherit;
	float:left;
	width:auto;
	text-align: center;
	font-size: 30px;
	padding: 15px;
	transition-property: transform, color;
	transition-duration:0.2s;

}

nav ul li:hover{
	transform:scale(1.2)rotate(-0.009turn);
	background: linear-gradient(to right,#8afff7, #d4fffc);

	
}

nav ul li:active{
	background: radial-gradient( #45a29e, #307572);
}
nav ul li a{
	display: block;
	width: 100%;
	height:100%;
	text-decoration:none;
	color:#1f2833;
	font:bold;
	font-size: 30px;
}

.maintexth {
	clear: both;
	position: relative;
	font-size: 40px;
	width: 900px;
	text-align: center;
	background-color: #45a29e;
	box-shadow:0px 0px 37px 20px #1f2833 inset;
	box-shadow:0px 0px 35px 50px #45a29e;
	height: 550px;
	margin-top: 200px;
	text-overflow: scroll;
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
}
.maintexta{
	clear: both;
	position: relative;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	width: 900px;
	text-align: center;
	background: linear-gradient(to top right, #89d38d, #29a029, #89d38d);
	height: 550px;
	margin-top: auto;
	text-overflow: scroll;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	box-shadow: 0px 0px 15px #89d38d;
}





.maintexti{
	clear: both;
	position: relative;
	font-size: 40px;
	width: 900px;
	text-align: center;
	background-color: #45a29e;
	box-shadow:0px 0px 37px 20px #1f2833 inset;
	box-shadow:0px 0px 35px 50px #45a29e;
	height: 700px;
	margin-top: 170px;
	text-overflow: scroll;
	overflow-y:scroll;
	font-size: 25px;
	padding-top: 65px;
	margin-left: auto;
	margin-right: auto;
}

.maintexti .imgbody{

	clear:both;
	position: relative;
	float:left;
	margin-top: 0px;
	margin-left: 10%;
	width:35%;
	height:250px;
	border:3px solid #141a21;

}

.maintexti .descr{
	clear:both;
	background: #528c5b;
	position:absolute;
	text-align: center;
	padding: 20px;
	margin-left: 50%;
	width: 30%;
	height:auto;
	color:#45a29e;
	background-color: #141a21;
	border:2px solid black;
}

.maintexti .price{
	clear:both;
	position:absolute;
	text-align: center;
	margin-left: 55%;
	margin-top: 130px;
	width:auto;
	height:auto;
	color:#45a29e;
	background-color: #141a21;
	box-shadow:0px 0px 15px 20px #141a21;
}

.fdiscr{
	clear:both;
	position:absolute;
	text-align: center;
	margin-left: 10%;
	margin-top: 320px;
	width:80%;
	height:auto;
	color:#45a29e;
	background-color: #141a21;
	box-shadow:0px 0px 15px 20px #141a21;
}

.orderitem{
	position: relative;
	float:left;
	display: inline;
	width: 60%;
	font-family: myFont;
	font-size: 20px;
	background-color:#66fcf1;
	color:#141a21;
	margin-top:7px;
	margin-left: 20%;
	margin-right:auto;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration:none;
	text-align: center;
	transition-property: transform;
	transition-duration: 0.2s;
}
.orderitem:hover{
	transform:scale(1.05);
	background:#c5fcf8;
}
.orderitem:active{
	background:#2a8079;
	box-shadow: 0px 0px 2px #000000 inset;
}
.link{
	color:#66fcf1;
}
.reviews .rev{
	clear:both;
	position: relative;
	font-size: 20px;
	width: 90%;
	margin-left: 5%;
	height:25px;
	text-align: left;
	margin-top:5%;
}

.maintexti .reviews{
	clear:both;
	position:relative;
	display:inline-block;
	float:left;
	width:35%;
	height:300px;
	margin-left:10%;
	margin-right:0%;
	margin-top:40%;
	color:#45a29e;
	background-color: #141a21;
	box-shadow:0px 0px 15px 20px #141a21;
}

.maintexti .revform{
	clear:both;
	position:relative;
	display:inline-block;
	margin-top:40%;
	width:35%;
	height:300px;
	color:#45a29e;
	background-color: #141a21;
	box-shadow:0px 0px 15px 20px #141a21;
}







.maintextc{
	clear: both;
	position: relative;
	font-size: 40px;
	width: 900px;
	text-align: center;
	background-color: #45a29e;
	box-shadow:0px 0px 35px 50px #45a29e;
	height: 550px;
	margin-top: 170px;
	text-overflow: scroll;
	font-size: 25px;
	padding-top: 65px;
	margin-left: auto;
	margin-right: auto;
}
.names  {
	position: relative;
	padding: 20px;
	margin-left: 70px;
	color:#45a29e;
	background-color: #141a21;
	box-shadow:0px 0px 15px 20px #141a21;
	width: 30%;
}

.adress{
	margin-top: 27%;
	font-size: 30px;
	padding: 20px;
	color:#45a29e;
	background-color: #141a21;
	box-shadow:0px 0px 15px 20px #141a21;
}
.adresss{
	margin: 20px;
	width: 200px;
}
.desc{
	float: right;
	color:#45a29e;
	background-color: #141a21;
	box-shadow: 0px 0px 15px 20px #141a21;
	width: all;
	padding: 20px;
	margin-right: 70px;
	height: 250px;
	margin-top: -100px;
}
.te{
	border:none;
	background-color: #1f2833;
	color:white;
	box-shadow: 0px 0px 5px white inset;
}
textarea{
	resize: none;
	background-color: #1f2833;
	color:white;
	box-shadow: 0px 0px 5px white inset;
	border: none;
}
.send{
	position: relative;
	width: 200px;
	height: 50px;
	background: linear-gradient(to top right, #66fcf1 50%, #bef7f3);
	color: #141a21;
	font-size: 20px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	user-select:none;
	cursor: pointer;	
	transition-property: transform;
	transition-duration: 0.5s;
}
.send:hover{
	transform:scale(1.1);
	background: #b8fffa;
	box-shadow: 0px 0px 5px #b8fffa;
}
.send:active{
	background:#36fff1;
	box-shadow: 0px 0px 5px black #0fdbcd;
}.help{
	position: initial;
	float: left;
	width: 18px;
	height: auto;
	font-size: 15px;
	background:#555;
	color: white;
	cursor:pointer;
}
.help:hover{
	background: #666;
	box-shadow: 0px 0px 4px white;
}
.helpt{
	width: 200px;
	height: 150px;
	background: #666;
	color: white;
	font-size: 15px;
	position: absolute;
	float: left;
	box-shadow: 0px 0px 5px black;
}





.maintextp {
	clear: both;
	position: relative;
	font-size: 40px;
	width: 700px;
	text-align: center;
	background-color: #45a29e;
	box-shadow:0px 0px 35px 50px #45a29e;
	height: 600px;
	margin-top: 170px;
	text-overflow: scroll;
	overflow:scroll;
	overflow-y:hidden;
	overflow-x:hidden;
	margin-right: auto;
	margin-left:auto;
}
table{
	position: relative;
	background:#1f2833;
	width: 600px;
	height: auto;
	margin-left: auto;
	margin-right:auto;
	margin-bottom:150px;
	font-size: 17px;
	color: white;
	border-radius: 10px;
	}
.descriptions{
	font-size: 15px;
	background: #1f2833;
	height:49px;
}
table, th, tr{
	border:none;
	border-collapse: collapse;
	border-radius: 10px;
}
.gallery{
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 150px;
	font-size: 15px;
	border-radius: 10px;
}
.heads{
	background: #1f2833;
	color: white;
}
#scrlr{
	clear:both;
	position: relative;	
	float:right;
	width: 100px;
	height: 100px;
	margin-top: -400px;
	margin-right: 100px;
	background:rgba(31, 40, 51, 0.5);
	border:none;
	font-size: 50px;
	text-align: left;
	transition-property: transform;
	transition-duration: 0.5s;
}
#scrll{
	clear: both;
	float: left;
	position: absolute;	
	width: 100px;
	height: 100px;
	margin-top: -400px;
	margin-left: 100px;
	background:rgba(31, 40, 51, 0.5);
	float: right;
	border: none;
	font-size: 50px;
	text-align: right;
	transition-property: transform;
	transition-duration: 0.5s;

}
#scrlr:hover{
	background:linear-gradient(to right,rgba(60, 78, 99, 0.5), #1f2833);
	cursor:pointer;
	transform: scale(1.1);
	transform-origin: left;
}
#scrll:hover{
	background:linear-gradient(to left,rgba(60, 78, 99, 0.5), #1f2833);
	cursor:pointer;
	transform: scale(1.1);
	transform-origin: right;
}
#scrlr:active{
	outline:0;
	background:linear-gradient(to right,rgba(43, 56, 71, 0.5) 10%, #1f2833);
	border: none;
	cursor:pointer;
}

#scrll:active{
	outline:0;
	background:linear-gradient(to left,rgba(43, 56, 71, 0.5) 10%, #1f2833);
	border: none;
	cursor:pointer;
}
#scrll:focus{
	outline:0;
}
#scrlr:focus{
	outline:0;
}






.maintextf{
	clear: both;
	position: relative;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	width: 900px;
	text-align: center;
	background-color: #45a29e;
	box-shadow:0px 0px 35px 50px #45a29e;
	height: 550px;
	margin-top: auto;
	text-overflow: scroll;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.maintexth  .wh{
	margin-left: -600px;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}
.fo{
	font-weight: bold;
	text-decoration: underline;
}
.link{
	text-decoration: none;
}
.pic{
	margin-left: auto;
	margin-right: auto;
	border:4px solid black;
	box-shadow: 0px 0px 10px white;
}
.fl{
	float: right;
	border:2px solid black;
	padding: none;
	margin:15px;
}
@font-face{
	font-family: myFont;
	src: url(/res/font.woff);

}
h1{
	position: relative;
	display:inline-block;
	float: left;
	color:lightgray;
	font-size: 50px;
	font-family: myFont;
}



@font-face{
	font-family: myFont2;
	src: url(/res/font2.woff);
}
.links{
	text-decoration: none;
	font-size: 25px;
	font-family: myFont2;
	color:#999;
	
}
.foot:hover{
	cursor: pointer;
}
footer .foot {
	margin-left: 15px;
	margin-right: 15px;
}
.faqt{
	font-size: 35px;
	color: black;
	text-align: center;
	font-family: myFont;

}
.legend{
	float: left;
	position: absolute;
	margin-left: 50px;
	width: 300px;
	font-size: 20px;

}

.faqm{
	position: absolute;
	display:grid;
	box-shadow:0px 0px 10px #66fcf1;
	margin-left: 400px;
	width: 400px;
	height: 450px;
	font-family: myFont;
	font-size: 20px;
}
.legend div{
	transition-property: transform, color;
	transition-duration: 0.2s;
}
.legend div:hover{
	cursor: pointer;
	color: white;
	box-shadow: 0px 0px 3px white;
	transform:scale(1.1);
}

.price{
	width:45%;
}
.maintexth2{
	position: absolute;
	font-size: 40px;
	width: 800px;
	text-align: center;
	background: linear-gradient(to top right, #66fcf1, #58dbd2, #66fcf1);
	height: 500px;
	margin-top: -400px;
	margin-left: 145px;
	overflow-y:scroll;
	font-size: 22px;
	margin-right: auto;
	box-shadow: 0px 0px 20px #35857f inset;
	color: #777;
}

.more{
	clear:both;
	position: relative;
	width: auto;
	padding: 15px;
	font-family: myFont;
	font-size: 30px;
	background:#66fcf1;
	padding-left: 70px;
	padding-right: 70px;
	margin-top:100px;
	text-align: center;
	transition-property: transform;
	transition-duration: 0.5s;
}
.more:hover{
	transform:scale(1.03);
	cursor: pointer;
	background: #4fc4bc;
	box-shadow: 0px 0px 5px #66fcf1;
}
.more:active{
	cursor: pointer;
	background: #444;
	box-shadow: 0px 0px 5px black inset;
}
